* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* --primary-color: #3b82f6; */
    --primary-color: #333;
    --secondary-color: #555;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:wght@400;700&display=swap');



body {
    line-height: 1.5;
    font-family: "Charis SIL", serif;
    color: var(--primary-color);
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
   width: 100%;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 960px;
    overflow: scroll;
    margin: 0 auto;
    text-align: center; 
    padding-bottom: 5rem;
}

.navbar {
    /* font-family: 'PT Sans'; */
    font-weight: 600;
    border-bottom: 1px solid #e6e6e6;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

.navbar ul li a {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar ul li a:hover {
    color: #666;
}

.navbar ul li a svg {
    margin-right: 0.3rem;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

.heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3.125rem;
}

.heading h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    margin-bottom: 0.625rem;
}

.form,
.content {
    width: 70%;
    margin: 0 auto;
}

form,
.content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px === 1.25rem === 16 * 1.25 */
}


label {
    display: block;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: left;
}

.post {
    background: #f1f5f9;
    margin: 0.625rem 0;
    color: var(--secondary-color);
    padding: .75rem;
    border-radius: 0.3125rem;
    position: relative;
}
.post-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
}

.post-buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.625rem 0.625rem 0 0.625rem;
    font-weight: bold;
    font-size: 1rem;
    gap: 0.625rem;
}

.like-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all .3s ease;
}

.like-btn:hover {
    transform: scale(1.1);
}

.post-desc {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info {
    display: flex;
    gap: 0.5rem;
    align-items: center
}


.post .photo {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    object-fit: cover;
}

.photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post h1 {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
}

.post p {
    font-size: 1.25rem;
    text-align: left;
}

.post form {
    width: 100%;
}

.edit-input {
    width: 100%;
}

.icons-container {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
}

.icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.125rem;
    transition: all 0.3s ease;
}



.info span {
    display: inline-block;
    color: #999;
}

.icon:hover {
    transform: scale(1.1);
}

.edit-icon {
    color: var(--primary-color);
}

.close-icon {
    color: red;
}

.grid {
    display: grid;
    grid-template-columns: 30% 70%;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem 0;

}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

aside ul li a {
    font-weight: 600;
    text-align: left;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

aside ul li a:hover {
    color: #666;
}

.posts-wrapper {
    padding-top: 2.5rem;

}

textarea.form-control {
    resize: none;
}

.form textarea.form-control {
    height: 200px;
}


.form-control {
    padding: 0.625rem;
    border: 1px solid #e6e6e6;
    border-radius: 0.3125rem;
    font-family: inherit;
    outline-color: var(--primary-color);
}

.btn {
    cursor: pointer;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: button;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(0.98);
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


.spinner {
    width: 4rem;
    height: 4rem;
    border: 0.5rem solid #000;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #fff;
    width: 400px;
    padding: 1.25rem;
    border: 1px solid #e6e6e6;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.modal h1 {
    color: #333;
    font-size: 1.25rem;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.delete {
    background: red;
    border: none;
    width: 45%;
}

.post-desc {
    width: 100%;
}

.cancel {
    background: #333;
    border: none;
    width: 45%;
}

.users-wrapper {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

.user {
    padding: 1.25rem;
    border: 1px solid #e6e6e6;
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.user .photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.user .info {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-size: 1.25rem;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--secondary-color);
}

.followers {
    color: #777;
    font-weight: 400;
    font-size: 1rem;
}

.user .info .name {
    text-transform: capitalize;
}

.user .user-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.625rem;
}

.user .btn {
    width: 100px;
    text-transform: capitalize;
}

.register,
.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
